set system host-name {{ item.name }}
set system auto-snapshot
set system time-zone Zulu
set system arp aging-timer 5
set system internet-options icmpv4-rate-limit packet-rate 10
set system root-authentication encrypted-password "{{ root_hash }}"
set system login message "{{ banner }}"
set system services ssh root-login allow
set system services ssh protocol-version v2
set system services ssh max-sessions-per-connection 32
set system services netconf ssh
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
{% if item.uplinks %}
{% for interface in item.uplinks %}
set interfaces {{ interface }} description "vex1;ge-0/0/1"
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode trunk
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members all
set interfaces {{ interface }} unit 0 family ethernet-switching storm-control default
{% endfor %}
{% endif %}
set interfaces {{ item.mgmt_int }} unit 0 family inet address {{ item.ip }}/{{ item.netmask }}
set forwarding-options storm-control-profiles default all bandwidth-percentage 50
set forwarding-options storm-control-profiles default action-shutdown
set routing-options static route 0.0.0.0/0 next-hop {{ item.gateway }}
set protocols lldp port-id-subtype interface-name
set protocols lldp interface all
{% if enable_oam %}
set protocols oam ethernet link-fault-management action-profile link-adj-loss event link-adjacency-loss
set protocols oam ethernet link-fault-management action-profile link-adj-loss action link-down
{% for interface in item.uplinks %}
set protocols oam ethernet link-fault-management interface {{ interface }} apply-action-profile link-adj-loss
set protocols oam ethernet link-fault-management interface {{ interface }} link-discovery active
{% endfor %}
{% endif %}
set protocols mstp configuration-name {{mstp_config_name }}
set protocols mstp revision-level 2
set protocols mstp bpdu-block-on-edge
{% if item.uplinks %}
{% for interface in item.uplinks %}
set protocols mstp interface {{ interface }} mode point-to-point
set protocols mstp interface {{ interface }} bpdu-timeout-action block
{% endfor %}
{% endif %}
set protocols mstp msti 1 vlan 1-499
set protocols mstp msti 1 vlan 1001-1499
set protocols mstp msti 1 vlan 2000-2499
set protocols mstp msti 1 vlan 3000-3499
set protocols mstp msti 2 vlan 500-999
set protocols mstp msti 2 vlan 1500-1999
set protocols mstp msti 2 vlan 2500-2999
set protocols mstp msti 2 vlan 3500-3999
set protocols mstp msti 3 vlan 4000-4094
{% if vlans %}
{% for v in vlans %}
set vlans {{ v.name }} vlan-id {{ v.tag }}
{% endfor %}
{% endif %}

